<div class="panel panel-primary">

  <div class="panel-body">

    <table class="table table-striped">
      <tr>
        <th>Patient</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Docteur</th>
        <th>Spécialité</th>
        <th>Adresse</th>
        <th>Carte Vitale</th>
      </tr>


      <tr>
        <td>{{rendezVous.patient.nom}} {{rendezVous.patient.prenom}}</td>
        <td>{{heureDebut | date:'short'}}</td>
        <td>{{heureFin | date:'short'}}</td>
        <td>{{rendezVous.creneaux[0].praticien.nom}} {{rendezVous.creneaux[0].praticien.prenom}}</td>
        <th>{{rendezVous.modalite.motif.specialite.libelle}}</th>
        <td>{{rendezVous.creneaux[0].lieu.adresse.rue}}, {{rendezVous.creneaux[0].lieu.adresse.codePostal}}, {{rendezVous.creneaux[0].lieu.adresse.ville}} </td>
        <td>{{rendezVous.creneaux[0].praticien.prendCarteVitale}}</td>
      </tr>
    </table>

  </div>
</div>
