<div class="panel panel-primary">
  <div class="panel-heading">Liste des RDV à venir</div>
  <div class="panel-body">

    <table class="table table-striped">
      <tr>
        <th>Patient</th>
        <th>Date de début</th>
        <th>Date de début</th>
        <th>Docteur</th>
        <th>Spécialité</th>
        <th>Adresse</th>
        <th>Carte Vitale</th>
        <th>N° de téléphone</th>
      </tr>

      <tr>
        <td>{{creneauDisponible.rendezVous.patient.}}</td>
        <td></td>
        <td></td>
        <td></td>
        <th></th>
        <td></td>
        <td></td>
        <th></th>
      </tr>
    </table>

  </div>
</div>
