
<h1> Mon Compte Patient </h1>

<nav class="navbar navbar-default">
  <div class="container-fluid">


    <ul class="nav navbar-nav">

      <li role="presentation" ><a [routerLink]="['patient/mesrdvavenir']" routerLinkActive="active">Mes RDV a Venir</a></li>
      <li role="presentation" ><a [routerLink]="['patient/mesrdvpasses']" routerLinkActive="active">Mes RDV Passes</a></li>
      <li role="presentation" ><a [routerLink]="['patient/mesinfos']" routerLinkActive="active">Mes Infos</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/patient/inscription']"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
      <li><a [routerLink]="['patient/connexion']" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>

<footer class="navbar navbar-default"></footer>
