.choixMois {
  text-align: center;
  font-size: 30px;


}

td{
  width: 10%;
}

#moisEnCours {

}

.groupeMoisEnCours {
  margin-top: 1%;
  margin-bottom: 3%;

}

.ligneCalendrier tr td{
  padding-top: 5%;
  margin-bottom: 5%;
  text-align: right;
}

thead tr td{
  font-size: 1.5em;
  text-align: center;
}
