.choixMois {
  text-align: center;
  font-size: 30px;


}

td {
  width: 10%;
}

#moisEnCours {

}

.groupeMoisEnCours {
  margin-top: 1%;
  margin-bottom: 3%;

}

.ligneCalendrier tr td {
  padding-top: 1%;
  margin-bottom: 2%;
  text-align: right;
  vertical-align: bottom;

}

thead tr td {
  font-size: 1.5em;
  text-align: center;
}

.creneau {
  width: 85%;
  padding-bottom: 0%;
  text-align: center
}

.groupeCreneaux {
  margin-bottom: 2px;
  text-align: center;
  vertical-align: center;
}


