




<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Liste de mes Patients</div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date de Naissance</th>
            <th></th>
          </tr>
          <tr *ngFor="let patient of list()">
            <td>{{patient.nom}}</td>
            <td>{{patient.prenom}}</td>
            <td>{{patient.dateNaissance}}</td>
            <td>
              <div class="btn-group btn-group-xs">
                <button class="btn btn-info"><span (click)="edit(salle.id)" class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger"><span (click)="delete(salle.id)" class="glyphicon glyphicon-trash"></span></button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary"><span (click)="add(current)" class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div>
    <div class="panel panel-primary" *ngIf="show">
      <div class="panel-heading">Edition de la salle</div>
      <div class="panel-body">
        <div class="form-group">
          <label for="nom">Nom:</label>
          <input [(ngModel)]="current.nom" type="text" class="form-control" id="nom">
        </div>
        <div class="form-group">
          <label for="rue">Rue:</label>
          <input [(ngModel)]="current.adresse.rue"  type="text" class="form-control" id="rue">
        </div>
        <div class="form-group">
          <label for="codePostal">Code postal:</label>
          <input [(ngModel)]="current.adresse.codePostal" type="text" class="form-control" id="codePostal">
        </div>
        <div class="form-group">
          <label for="ville">Ville:</label>
          <input [(ngModel)]="current.adresse.ville" type="text" class="form-control" id="ville">
        </div>
      </div>
      <div class="panel-footer">
        <div class="btn-group">
          <button class="btn btn-success"><span (click)="saver(current.id)" class="glyphicon glyphicon-ok"></span></button>
          <button class="btn btn-warning"><span (click)="cancel()" class="glyphicon glyphicon-remove"></span></button>
        </div>
      </div>
    </div>
  </div>



