<div class="panel-group">

  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Infos Utilisateur</h4></div>
    <br>


    <div class="form-group">
      <ul class="list-group">
        <li class="list-group-item"><b>Nom : </b> {{current.prenom }}</li>
        <li class="list-group-item"><b>Prénom : </b>{{current.nom}}</li>
        <li class="list-group-item"><b>Email : </b>{{current.utilisateur?.email}}</li>
        <li class="list-group-item"><b>Mot de passe : </b>{{current.utilisateur?.motDePasse}}</li>
        <li class="list-group-item"><b>Téléphone : </b>{{current.utilisateur?.telephone}}</li>
      </ul>
      <br>

      <div class="panel-footer">

        <button type="button" data-toggle="modal" class="btn btn-primary" (click)="edit()" data-target="#myModal">
          Modifier mes informations
        </button>

      </div>
    </div>
  </div>


  <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          Modification des données utilisateur
        </div>

        <div class="modal-body">
          <div class="panel-body">
            <div class="form-group">
              <label for="nom">Nom :</label>
              <input [(ngModel)]="patientForm.nom" class="form-control" id="nom" type="text">
            </div>

            <div class="form-group">
              <label for="prenom">Prénom :</label>
              <input [(ngModel)]="patientForm.prenom" class="form-control" id="prenom" type="text">
            </div>

            <div class="form-group">
              <label for="email">Email :</label>
              <input [(ngModel)]="patientForm.utilisateur.email" class="form-control" id="email" type="text">
            </div>

            <div class="form-group">
              <label for="pwd">Mot de passe :</label>
              <input [(ngModel)]="patientForm.utilisateur.motDePasse" class="form-control" id="pwd" type="text">
            </div>

            <div class="form-group">
              <label for="tel">Téléphone :</label>
              <input [(ngModel)]="patientForm.utilisateur.telephone" class="form-control" id="tel" type="text">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="btn-group">
            <button class="btn btn-success" data-dismiss="modal" aria-hidden="true"><span (click)="save()" class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true"><span (click)="cancel()" class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
